html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    background-color: #EDEDED;
    min-width: 100%;
}

.address-container {
    border: 1px solid white;
    max-width: 800px;
    margin: 20px;
    padding: 25px;
    background-color: white;
    border-radius: 13px;
}

.address-container label {
    font-size: 15px;
    color: rgb(88, 88, 88);
}

.address-container input {
    width: 600px;
    height: 40px;
    box-shadow: 0px 4px 15px rgba(167, 166, 166, 0.5);
}

.address-container .saving {
    color: rgb(88, 88, 88);
    padding: 20px 0;
}

.address-container .add-address {
    width: 600px;
    height: 35px;
    background-color: black;
    color: white;
    display: block;
    margin: auto;
    align-items: center;
    border-radius: 13px;
    border: 1px solid black;

}

.address-container .back-btn {
    color: rgb(88, 88, 88);
    display: inline-block;
    margin-right: 200px;

}

.address-container .backbutton {
    background-color: white;
    border: 1px solid white;
    color: rgb(88, 88, 88);
    font-size: 15px;
    text-decoration: underline;
    font-weight: 500;
}

.address-container .connection {
    display: inline-block;
    margin-left: 200px;
    color: #02D693;
    font-weight: 600;
}

.confirmation-page {
    background: #EDEDED;
    min-width: 100%;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 50px 0 200px 0;
}

.confirmation-page h1 {
    margin-bottom: 50px;
    font-size: 40px;
}

.confirmation-page img {
    width: 200px;
    display: block;
    margin: auto;
}

.confirmation-page .message {
    font-size: 25px;
    color: black;
    margin-top: 10px;
}

.confirmation-page .message1 {
    font-size: 20px;
    color: rgb(73, 73, 73);

}